doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="stytle/all.css")
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  body 
 
    .header.flex.font-white
      ul
        li Here’s
        li
          h1 JOANNE
        li.li2 Founder of “XXXD Official’’
          br
          | & Graphic Designer
        li.box
          a(href="#")  
            img(src="/image/behance.svg", alt="behance")
          a(href="") 
            img(src="/image/facebook.svg", alt="facebook")
          a(href="") 
            img(src="/image/instagram.svg", alt="instagram")
          a(href="") 
            img(src="/image/youtube.svg", alt="youtube")
        
    .about
      ul.border
        li
          h2 About
        li 
          img(src="/image/photo.png", alt="photo")
        li Joanne Chen
        li 1997/10/10
        li.li2 National Hex School Normal University 
          br
          |Department of Visual Design
      ul.relist
        li.row
          .circle 
          p Founder of ‘’XXXD Official’’
        li.row 
          .circle 
          p Graphic Designer
        li.row 
          .circle
          p Graphic Intern of Hex School
    .content.bg
      ul.container
        li 
          h2 My Brand ‘’XXXD’’

        li Just Keep XXXD Everyday
        li 
          p 2020 年創立的個人服飾品牌 
            br
            |引領叛逆少年開啟與社會對話的窗口 
            br
            |主打概念潮流T-Shirt
        li.flex
          img.margin(src="/image/brand_img1.png", alt="brand_img1")
          img(src="/image/brand_img2.png", alt="brand_img2")
          img(src="/image/brand_img3.png", alt="brand_img3")
    .other.container
      ul
        li
          h2 Other Works
        li
          p.mbmt 2016-2020 年累積的作品 
            br
            |海報/廣告/攝影/LOGO/3D
      ul.flex-1
        li
          img(src="/image/work_img1.png", alt="work_img1")
          p 海報設計/2017
        li
          img(src="/image/work_img2.png", alt="work_img2")
          p 海報設計/2017
        li  
          img(src="/image/work_img3.png", alt="work_img3")
          p 海報設計/2017
      ul.flex-2
        li
          img(src="/image/work_img4.png", alt="work_img4")
          p 海報設計/2017
        li
          img(src="/image/work_img5.png", alt="work_img1")
          p 海報設計/2017
      ul.flex-3
        li
          img(src="/image/work_img6.png", alt="work_img6")
          p 海報設計/2017
        li 
          img(src="/image/work_img7.png", alt="work_img7")
          p 海報設計/2017
        li 
          img(src="/image/work_img8.png", alt="work_img8") 
          p 海報設計/2017
    .footer.bg
      ul
        li 
          h2 Contact
        li.li2 
          a(href="Mail：xxxd@hexschool.com") Mail：xxxd@hexschool.com
        li.li2 
          a(href="Phone Number：0910123456") Phone Number：0910123456