*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  font-family: roboto;
  height: 100vh;
  text-align: center;
}

h2 {
  padding-top: 56px;
  font-size: 64px;
  line-height: 80px;
}

h2:hover {
  font-size: 80px;
  transition-duration: 1s;
  color: red;
}

li {
  font-size: 24px;
  line-height: 42px;
  font-weight: 700;
  font-style: italic;
}

.li2 {
  font-size: 24px;
  line-height: 36px;
}

p {
  font-size: 20px;
  line-height: 30px;
}

.font-white {
  color: #FFFFFF;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bg {
  color: white;
  background-color: black;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header {
  height: 100vh;
  background: url(../image/banner.png) center;
  background-size: cover;
}
.header ul {
  text-align: left;
}
.header h1 {
  font-size: 80px;
  line-height: 106px;
  font-weight: 900;
  font-style: italic;
  margin-bottom: 32px;
}
.header h1:hover {
  -webkit-animation: test 2s;
          animation: test 2s;
}
@-webkit-keyframes test {
  0% {
    color: yellow;
  }
  50% {
    color: white;
  }
  100% {
    color: red;
  }
}
@keyframes test {
  0% {
    color: yellow;
  }
  50% {
    color: white;
  }
  100% {
    color: red;
  }
}
.header .box {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.header a:hover {
  transform: rotate(1turn);
  transition-duration: 2s;
}

.about .border {
  display: inline-block;
  border-bottom: solid 1px;
  padding-bottom: 24px;
  margin-bottom: 28px;
}
.about .relist {
  list-style-type: disc;
  padding-bottom: 56px;
}
.about .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.about .row::before {
  content: "";
  width: 22px;
  height: 22px;
  background: #891818;
  border-radius: 20px;
  margin-right: 10px;
}
.about p {
  font-size: 24px;
  line-height: 42px;
}
.about h2 {
  margin-bottom: 40px;
}

.content {
  padding-bottom: 160px;
}
.content h2 {
  margin-bottom: 12px;
}
.content p, .content li {
  font-weight: 500;
}
.content p {
  margin: 32px 0px 68px;
}
.content .flex {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.content .flex .margin {
  margin-left: 18%;
  margin-bottom: 40px;
}

.other .mbmt {
  margin-top: 16px;
  margin-bottom: 56px;
}
.other .flex-1, .other .flex-2, .other .flex-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.other .flex-1, .other .flex-2 {
  margin-bottom: 48px;
}
.other .flex-3 {
  margin-bottom: 144px;
}

.footer {
  padding-top: 8px;
  padding-bottom: 64px;
}
.footer .li2 {
  margin-top: 16px;
}
.footer a {
  display: block;
  color: #FFFFFF;
  text-decoration: none;
}
.footer a:hover {
  color: yellow;
  font-size: 32px;
  transition-duration: 1s;
}/*# sourceMappingURL=all.css.map */